
<footer class="container-fluid text-center">
    <p>Te enviamos el inventario de productos a tu email</p>  
    <form class="form-inline">Correo electrónico:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Solicitar</button>
    </form>
</footer>